<div class="container" id="error-box">

    <ul class="alert alert-danger alert-dismissible    fade show">

        <button type="button" class="close" data-dismiss="alert" style="margin-right: 0px; border: 0px solid red">
            &times;</button>

        <% errors.forEach( function(err) {  %>
        <li>
            <strong>Eroor : &nbsp; </strong>
            <%= err.msg %>
            <%= // console.log(err) %>
        </li>

        <% }); %>
    </ul>
</div>