<% if ( user == null ) {  %>

<style>
    input[type="email"],
    input[type="password"],
    input[type="text"],
    textarea {

        background-color: #ffffff27;
        color: white;
    }

    .box {
        /* border: 2px solid red; */
        width: 500px;
        /* margin: 150px 0; */
        margin-top: 100px;
        height: 500px;

    }

    .shape1 {
        position: relative;
        height: 150px;
        width: 150px;
        background-color: #2d3338;
        border-radius: 80px;
        float: left;
        margin-right: -50px;
    }

    .shape2 {
        position: relative;
        height: 150px;
        width: 150px;
        background-color: #2d3338;
        border-radius: 80px;
        margin-top: -30px;
        float: left;
    }

    .shape3 {
        position: relative;
        height: 150px;
        width: 150px;
        background-color: #2d3338;
        border-radius: 80px;
        margin-top: -30px;
        float: left;
        margin-left: -31px;
    }

    .shape4 {
        position: relative;
        height: 150px;
        width: 150px;
        background-color: #2d3338;
        border-radius: 80px;
        margin-top: -25px;
        float: left;
        margin-left: -32px;
    }

    .shape5 {
        position: relative;
        height: 150px;
        width: 150px;
        background-color: #2d3338;
        border-radius: 80px;
        float: left;
        margin-right: -48px;
        margin-left: -32px;
        margin-top: -30px;
    }

    .shape6 {
        position: relative;
        height: 150px;
        width: 150px;
        background-color: #2d3338;
        border-radius: 80px;
        float: left;
        margin-right: -20px;
        margin-top: -35px;
    }

    .shape7 {
        position: relative;
        height: 150px;
        width: 150px;
        background-color: #2d3338;
        border-radius: 80px;
        float: left;
        margin-right: -20px;
        margin-top: -57px;
    }

    .float {
        position: absolute;
        z-index: 2;
    }

    .form {
        margin-top: -20px;
        margin-left: 145px;
    }

    /* ======================= */


    .shape11 {
        position: relative;
        height: 150px;
        width: 150px;
        background-color: #2d3338;
        border-radius: 80px;
        float: left;
        margin-right: -20px;
        margin-left: 0px;
        margin-top: -57px;
    }

    .shape12 {
        position: relative;
        height: 150px;
        width: 150px;
        background-color: #2d3338;
        border-radius: 80px;
        float: left;
        /* margin-right: -20px; */
        margin-left: 62px;
        margin-top: -147px;

    }

    .shape13 {
        position: relative;
        height: 150px;
        width: 150px;
        background-color: #2d3338;
        border-radius: 80px;
        float: left;
        /* margin-right: -20px; */
        margin-left: -39px;
        margin-top: -96px;
    }

    .shape14 {
        position: relative;
        height: 150px;
        width: 150px;
        background-color: #2d3338;
        border-radius: 80px;
        float: left;
        margin-right: 0px;
        margin-left: -57px;
        margin-top: -111px;
    }


    .shape15 {
        position: relative;
        height: 150px;
        width: 150px;
        background-color: #2d3338;
        border-radius: 80px;
        float: left;
        margin-right: 0px;
        margin-left: 95px;
        margin-top: -76px;
    }


    .shape16 {
        position: relative;
        height: 150px;
        width: 150px;
        background-color: #2d3338;
        border-radius: 80px;
        float: left;
        margin-right: 0px;
        margin-left: 84px;
        margin-top: -97px;
    }

    .shape17 {
        position: relative;
        height: 150px;
        width: 150px;
        background-color: #2d3338;
        border-radius: 80px;
        float: left;
        /* margin-right: -20px; */
        margin-left: -39px;
        margin-top: -96px;
    }

    .shape18 {
        position: relative;
        height: 150px;
        width: 150px;
        background-color: #2d3338;
        border-radius: 80px;
        float: left;
        margin-right: 0px;
        margin-left: -25px;
        margin-top: -137px;
    }

    .shape19 {
        position: relative;
        height: 150px;
        width: 150px;
        background-color: #2d3338;
        border-radius: 80px;
        float: left;
        margin-right: 0px;
        margin-left: -25px;
        margin-top: -133px;
    }

    .shape20 {
        position: relative;
        height: 150px;
        width: 150px;
        background-color: #2d3338;
        border-radius: 80px;
        float: left;
        margin-left: -492px;
        margin-top: -122px;

        margin-top: -137px;
    }
</style>

<div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
            <div class="box">
                <div class="shape1"></div>
                <div class="shape2"></div>
                <div class="shape3"></div>
                <div class="shape4"></div>
                <div class="shape5"></div>
                <div class="shape6"></div>
                <div class="shape7"></div>

                <div class="shape11"></div>
                <div class="shape12"></div>
                <div class="shape13"></div>
                <div class="shape14"></div>

                <div class="shape15"></div>
                <div class="shape16"></div>
                <!-- <div class="shape17"></div> -->
                <div class="shape18"></div>
                <div class="shape19"></div>
                <div class="shape20"></div>


                <div class="float">
                    <a href="/admins/login" class="stylish_yello_link" style="margin-top: 0px; color: white; background-color: rgb(247, 152, 38);">login</a>

                    <form class="form" action="/admin/admin_signup" method="POST">
                        <div class="form-group">
                            <label for="username" class="text-white">Name:</label><br>
                            <input type="text" name="username" id="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-white">Email:</label><br>
                            <input type="email" name="password" id="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="username" class="text-white">Username:</label><br>
                            <input type="text" name="username" id="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-white">Password:</label><br>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>

                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="signup">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


<% } else {  %>

<script>
    window.location = "/";
</script>

<% }  %>